# Ignore everything
*
# But these files
!.gitignore
!.gitattributes
!LICENSE
!readme
!readme.MD
!README
# And these filetypes
!*.dat
!*.clp
!*.wrl
!*.ord
!*.top
!*.txt
# Even if they are in subdirectories
!**/