# Ignore everything
*
# But these files
!.gitignore
!.gitattributes
!build.sh
!CMakeLists.txt
!LICENSE
!readme
!readme.MD
!README
# And these filetypes
!*.c
!*.cpp
!*.h
!*.hpp
# Even if they are in subdirectories
!**/
